{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>
<h1>Bio</h1>
 <div class="container">
 	<div class="row">
 		<div class="col-md-3">
 			<div class="card card-body">
			<img id="profilepic" src="{% static '/images/revan.jpeg' %}" alt="">
			<hr>
			<h3>Hi I'am Revan</h3>
			<p> I am Open to Looking Python developer and Data analysis and machine learning modules job opportunity</p>
			</div>
 		</div>
 		<div class="col-md-8">
	 		<div class="card card-body"><h2>Key Skills:-</h2><br>
	 			<ul>
	 					<li> ​ Html, CSS, JavaScript, bootstrap ,Python,Dajngo Framework, Pandas, NumPy, Data Science, Data analysis, Machine learning, web scraping, Django For Machine Learning, Git, Deep Learning, GUI Using for Tkinter And Tabuelau Basic​</li>

						<li><b>Database</b>: ​ SQL, MySQL, Oracle 9i,Mangodb</li>  

						<li><b>Operating Systems</b>: MS-DOS, Windows 10/7/8/xp, Linux,​</li>	  
	 			</ul>
	 		</div>
	 	</div>cmd
 		<div class="col-md-6">
 			<div class="card card-body">
 			<ul>
	 			<li>Self-motivated and hardworking fresher seeking an opportunity to work in a challenging
				environment to prove my skills and utilize my knowledge & intelligence in the growth of
				the organization.</li>
				<li>What i have skill full i will give best result working with your organization and also i will gain knowledge such nice organization like yours ii you give this opportunity to show my skill i am thankfull to you  thank you.</li>
				<li>I had Compeled Machine learing with python course and certificate also</li>
				<li>Also I take udemy Cousres Datascience Courses</li>
				<li>I had Done project useing python Django Framework</li><br><br>
				<a href="https://www.facebook.com/revansidd.more" title="fb"><img id="scoial" src="{% static '/images/fb.jpg' %}" alt=""></a>
				<a href="https://github.com/revanasidd" title="github"><img id="scoial" src="{% static '/images/github.png' %}" alt=""></a>
				<img id="scoial" src="{% static '/images/inst.png' %}" alt="">
				<a href="https://twitter.com/more_revan" title="github"><img id="scoial" src="{% static '/images/twitter.png' %}" alt=""></a>
			</ul>
			</div>
 		</div>
 		
	 	
	 	<div class="col-md-6">
	 		<div class="card card-body"><h2>Achievements:-</h2>
	 			<ul type="number">
	 				<li>I Achieved in Code Competition in my college I was the second winner that competition I won a certificate.</li>
					<li>Won the prizes and trophy cricket tournament.</li>  

					<li>Participated in Annual Sports Day at school. </li> 

					<li>Participated in various cultural events in schools and Colleges.</li>  

					<li>I am the leader in my college.</li>  

					<li>Grooming and  Soft skills (Certificates).</li> 

					<li>Udemy data science for machine learning certificate.</li>  

					<li>Great learning Free courses Certificate.</li>  

					<li>Success fully Completed Data science for machine learning certificate </li>
	 			</ul>
	 		</div>
	 	</div>
	 	<div class="col-md-6">
	 		<div class="card card-body"><h1>Certificates</h1>
	 			<h2>Datascience for Machine learning</h2>
	 			<img  src="{% static '/images/Revanasidda More.jpg' %}" alt="">
	 			<h2>Python Certificate </h2><br>
	 			<img  src="{% static '/images/ABC PYTHON Certificate.jpg' %}" alt="">
	 			<h2>Data Science for Python Programs</h2><br>
	 			<img  src="{% static '/images/Datascience for Python programs.jpg' %}" alt="">
	 			<h2>Visulization for Tabelu </h2><br>
	 			<img  src="{% static '/images/Tablu certificates.jpg' %}" alt="">
	 			<hr>
	 	
	 			
	 		</div>
	 	</div>

	 	<div class="col-md-6">
	 		<div class="card card-body"><h2>Projects:-</h2>
	 		<ul>
	 			<a href="https://github.com/revanasidd/GstBills_Upload-"><button>1).GST Bills Projects</button></a><br><br>
	 			<a href="https://github.com/revanasidd/static-projects"><button>2).Static Forntend Project</button></a><br><br>
	 			<a href="https://github.com/revanasidd/RegAndLogin"><button>3.)RegLogin</button></a>
	 		</ul>
	 		 </div>
	 	</div>
	</div>
	<br>	
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>